name: Build and Release

on:
  push:
    tags:
      - "v*" # Trigger on any tag creation

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Strip 'v' prefix from tag
        id: strip_tag
        run: echo "::set-output name=tag::$(echo ${GITHUB_REF#refs/tags/v})"

      - name: set lower case owner name
        id: lc_owner
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: "${{ github.repository_owner }}"

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push to Docker Hub and GHCR
        run: |
          docker build -t deni1743/passivbot:${{ steps.strip_tag.outputs.tag }} -f _Dockerfile .
          docker tag deni1743/passivbot:${{ steps.strip_tag.outputs.tag }} deni1743/passivbot:${{ steps.strip_tag.outputs.tag }}
          docker push deni1743/passivbot:${{ steps.strip_tag.outputs.tag }}
          docker tag deni1743/passivbot:${{ steps.strip_tag.outputs.tag }} deni1743/passivbot:latest
          docker push deni1743/passivbot:latest
          docker tag deni1743/passivbot:${{ steps.strip_tag.outputs.tag }} ghcr.io/${{ env.OWNER_LC }}/passivbot:${{ steps.strip_tag.outputs.tag }}
          docker push ghcr.io/${{ env.OWNER_LC }}/passivbot:${{ steps.strip_tag.outputs.tag }}
          docker tag deni1743/passivbot:${{ steps.strip_tag.outputs.tag }} ghcr.io/${{ env.OWNER_LC }}/passivbot:latest
          docker push ghcr.io/${{ env.OWNER_LC }}/passivbot:latest

  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Automated release
          draft: false
          prerelease: false
